# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
build/
dist/

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Testing
coverage/

# Editor files
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Cache
*.cache
